behave==1.2.6
PyHamcrest==1.9.0
#PyYAML==5.1
opencv-python-headless
requests
#pytest
#python-dateutil
flask
flask_extension
Flask_Session
Werkzeug==0.15
# for calibration tool, you will need additional below plug-ins
pyqtgraph
pyqt5
pytesseract
imutils
colormath
numpy
